/* table global css */
th.sortable {
  cursor: pointer;
}
th.sortable::after {
  content: " ⇅";
  font-size: 12px;
  color: #888;
}
th.sortable[data-order="asc"]::after {
  content: " ↑";
}
th.sortable[data-order="desc"]::after {
  content: " ↓";
}

/* loader global css */

.global-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.global-loader.d-none {
  display: none;
}

.spinner {
  width: 55px;
  height: 55px;
  border: 6px solid #ddd;
  border-top: 6px solid #0d6efd;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
